LibreriaWebApp/Connected Services/ServiceReference/Libreria2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Libreria.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Libreria.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEditoriale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Editoriale" nillable="true" type="tns:Editoriale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditoriale" nillable="true" type="tns:ArrayOfEditoriale" />
  <xs:complexType name="Editoriale">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDEditorial" type="xs:int" />
      <xs:element minOccurs="0" name="Libros" nillable="true" type="tns:ArrayOfLibro" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="País" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Editoriale" nillable="true" type="tns:Editoriale" />
  <xs:complexType name="ArrayOfLibro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Libro" nillable="true" type="tns:Libro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibro" nillable="true" type="tns:ArrayOfLibro" />
  <xs:complexType name="Libro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autore" nillable="true" type="tns:Autore" />
      <xs:element minOccurs="0" name="Año" type="xs:int" />
      <xs:element minOccurs="0" name="Editoriale" nillable="true" type="tns:Editoriale" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDAutor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDEditorial" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Título" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Libro" nillable="true" type="tns:Libro" />
  <xs:complexType name="Autore">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Libros" nillable="true" type="tns:ArrayOfLibro" />
      <xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autore" nillable="true" type="tns:Autore" />
  <xs:complexType name="ArrayOfAutore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Autore" nillable="true" type="tns:Autore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutore" nillable="true" type="tns:ArrayOfAutore" />
</xs:schema>